.watch {
    height: 100vh;
    width: 100vw;

    .back {
        align-items: center;
        color: white;
        cursor: pointer;
        display: flex;
        left: 10px;
        position: absolute;
        top: 10px;
        z-index: 2;
    }

    .video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}