.listItem {
    background-color: var(--main-color);
    cursor: pointer;
    height: 120px;
    margin-right: 5px;
    overflow: hidden;
    width: 225px;

    img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    &:hover {
        width: 325px;
        height: 300px;
    }
}