.listItem {
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    height: 120px;
    margin-right: 5px;
    overflow: hidden;
    width: 225px;

    img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    video {
        height: 140px;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &:hover {
        border-radius: 5px;
        height: 300px;
        position: absolute;
        top: -150px;
        width: 325px;
        -webkit-box-shadow: 0 0 15px 0 rgba(255,255,255,0.07);
        box-shadow: 0 0 15px 0 rgba(255,255,255,0.07);

        img {
            height: 140px;
        }

        .itemInfo {
            display: flex;
            flex-direction: column;
            padding: 5px;

            .icons {
                display: flex;
                margin-bottom: 10px;

                .icon {
                    border-radius: 50%;
                    border: 2px solid white;
                    padding: 5px;
                    margin-right: 10px;
                    font-size: 16px;
                }
            }

            .itemInfoTop {
                align-items: center;
                color: gray;
                display: flex;
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 10px;

                .limit {
                    border: 1px solid gray;
                    margin: 0 10px;
                    padding: 1px 3px;
                }
            }

            .desc {
                font-size: 13px;
                margin-bottom: 10px;
            }

            .genre {
                font-size: 14px;
                color: lightgray;
            }
        }
    }
}